<div>
    <ul class="click-data" id="click-{{ click.id }}">
        <li class="click-id"><span>Click id</span>: {{ click.id }}</li>
        <li class="click-ref"><span>Referer</span>: {{ click.referer }}</li>
        <li class="click-ua"><span>User agent</span>: {{ click.userAgent }}</li>
        <li class="click-ip"><span>IP address</span>: {{ click.ip }}</li>
        <li class="click-param1"><span>First parameter</span>: {{ click.param1 }}</li>
        <li class="click-param2"><span>Second parameter</span>: {{ click.param2 }}</li>
        <li class="click-error"><span>Error count</span>: {{ click.errorCount }}</li>
        <li class="click-error"><span>Bad domain</span>: {% if click.isBadDomain() %}Yes{% else %}No{% endif %}</li>
    </ul>
</div>