{% extends 'base.html.twig' %}

{% block title %}Click error{% endblock%}

{% block body %}
    {% if click.isBadDomain() %}
        <div class="alert alert-danger">
            Domain of click referer is bad one! You will be redirected after few seconds.
        </div>
    {% else %}
        <div class="alert alert-danger">
            Click data already exist.
        </div>
    {% endif %}
{% endblock %}