{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent () }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            var table = $('#clickTable');

            table.DataTable({
                'search': {
                    'search': '{{ app.request.get('search') }}'
                }
            });

            table.removeClass( 'display' ).addClass('table table-striped table-bordered table-hover table-responsive');
        } );
    </script>
{% endblock %}

{% block title %}Click list{% endblock%}

{% block body %}
    <table id="clickTable" class="display">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Referer</th>
                <th>User agent</th>
                <th>IP address</th>
                <th>First parameter</th>
                <th>Second parameter</th>
                <th data-searchable="false">Error count</th>
                <th data-searchable="false">Bad domain</th>
                <th data-searchable="false">Created</th>
                <th data-searchable="false">Updated</th>
            </tr>
        </thead>
        <tbody>
        {% for click in clicks %}
            <tr>
                <td>{{ click.id }}</td>
                <td>{{ click.referer }}</td>
                <td>{{ click.userAgent }}</td>
                <td>{{ click.ip }}</td>
                <td>{{ click.param1 }}</td>
                <td>{{ click.param2 }}</td>
                <td>{{ click.errorCount }}</td>
                <td data-order="{{ click.isBadDomain() }}">{% if click.isBadDomain() %}Yes{% else %}No{% endif %}</td>
                <td data-order="{{ click.createdAt|date('YmdHis') }}">{{ click.createdAt|date('d.m.Y H:i:s') }}</td>
                <td data-order="{{ click.updatedAt|date('YmdHis') }}">{{ click.updatedAt|date('d.m.Y H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}