{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, { 'action': path('bad_domain_add'), 'method': 'POST', 'attr': {'class': '', 'id': 'badDomainAddForm'} }) }}
<div class="row">
    <div class="col-lg-4">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
        {% if app.session.flashBag.has('success') %}
            <span class="badge badge-success mt-3">{{ app.session.flashBag.get('success')|first }}</span>
        {% endif %}
    </div>
    <div class="col-lg-1">
        <button type="submit" class="btn btn-success">Add domain</button>
    </div>
</div>
{{ form_end(form) }}