{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent () }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            var table = $('#badDomainTable');
            table.DataTable();
            table.removeClass( 'display' ).addClass('table table-striped table-bordered table-hover table-responsive');
        } );
    </script>
{% endblock %}

{% block title %}Bad domains list{% endblock%}

{% block body %}
    <div class="mb-5">
        <div class="row">
            <div class="col-sm-12">
                {{ render(controller('App\\Controller\\BadDomainController::add')) }}
            </div>
        </div>
    </div>

    <table id="badDomainTable" class="display">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th data-searchable="false">Created</th>
                <th data-searchable="false">Updated</th>
                <th data-orderable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain.id }}</td>
                <td>{{ domain.name }}</td>
                <td data-order="{{ domain.createdAt|date('YmdHis') }}">{{ domain.createdAt|date('d.m.Y H:i:s') }}</td>
                <td data-order="{{ domain.updatedAt|date('YmdHis') }}">{{ domain.updatedAt|date('d.m.Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('click_list', {search: domain.name}) }}" class="btn btn-info">Search clicks</a>
                    <a href="{{ path('bad_domain_remove', {id: domain.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}